%h3= "Известные решения для проблем"+(params[:problem_id] ? "ы \""+Problem.find(params[:problem_id]).name+"\"" : "" )+(params[:server_id] ? " на оборудовании \""+Server.find(params[:server_id]).name+"\"" : "" )
- @problem_solutions.each do |problem_solution|
  .form
    .form-header
      - if @current_user.has_role? :admin
        .btn-group.pull-right.top10.right10
          = link_to glyph(:pencil)+' Изменить решение проблемы', edit_solution_for_problem_path(problem_solution.problem, problem_solution), class: 'btn btn-mini'
          %a.btn.btn-mini.dropdown-toggle{"data-toggle" => 'dropdown', :href => '#'}
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to glyph(:tint)+' Изменить решение', edit_solution_path(problem_solution.solution), class: 'btn btn-mini'
            %li
              = link_to glyph(:fire)+' Изменить проблему', edit_problem_path(problem_solution.problem), class: 'btn btn-mini'
            %li
              = link_to glyph(:trash)+' Удалить решение проблемы', problem_solution, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger'
      %h3= problem_solution.solution.name
    .form-inputs
      = markdown(problem_solution.solution.description)
  %br
  %br
.apple_pagination
  =will_paginate @problem_solutions, previous_label: '←', next_label: '→'
= link_to glyph(:plus)+' Новое решение проблемы', (params[:problem_id] ? solution_for_problem_path(Problem.find(params[:problem_id])) : new_problem_solution_path), class: 'btn btn-mini', data: { keybinding: 'ins' } if can? :manage, ProblemSolution
%br
%br