.apple_pagination
  =will_paginate @audits, previous_label: '←', next_label: '→', remote: true
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Пользователь
      %th Объект
      %th Действие
      %th Изменения
      %th Комментарий
      %th Дата и время

  %tbody  
    - @audits.each do |audit|
      %tr
        %td= audit.user.name
        %td= audit.auditable_type
        %td= audit.action
        %td= audit.audited_changes
        %td= audit.comment
        %td= audit.created_at.strftime('%d.%m.%Y %H:%M:%S')
.apple_pagination
  =will_paginate @audits, previous_label: '←', next_label: '→', remote: true

:coffeescript
  $ ->
    $(".pagination a").each ->
      $(this).attr "data-remote", true

    $(".pagination a").bind "click", ->
      $(".pagination").html "Загрузка страницы..."
      $.get @href, null, null, "script"
      false
