%h3 Журнал аудита
.flickr_pagination
  =will_paginate @audits
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Пользователь
    %th Объект
    %th Действие
    %th Изменения
    %th Комментарий
    %th Дата и время

  - @audits.each do |audit|
    %tr
      %td= audit.user.name
      %td= audit.auditable_type
      %td= audit.action
      %td= audit.audited_changes
      %td= audit.comment
      %td= audit.created_at.strftime("%d.%m.%Y %H:%M:%S")
.flickr_pagination
  =will_paginate @audits
