#attaches
  .apple_pagination
    =will_paginate @attaches, previous_label: '←', next_label: '→', remote: true
  %table.table.table-striped.table-bordered.table-condensed.table-sorted#attaches_table
    %thead
      %tr
        %th Имя
        %th Описание
        %th.span2 Тип
        %th.span2 Размер
        %th.span3 Дата и время
        %th.span2
  
    %tbody
      - @attaches.each do |attach|
        %tr
          %td= attach.name
          %td= attach.description
          %td= attach.mime
          %td= attach.size
          %td= attach.created_at.strftime('%d.%m.%Y %H:%M:%S')
          %td
            .btn-group
              = link_to_attach_source(attach)
              = link_to glyph(:download_alt)+' Скачать', url_to_attach(attach), class: 'btn btn-mini'
  .apple_pagination
    =will_paginate @attaches, previous_label: '←', next_label: '→', remote: true

:coffeescript
  $ ->
    $("#attaches_table").tablesorter({sortList: [[4,1],[0,1],[3,1]], headers: { 5: {sorter: false}}})

    $(".pagination a").each ->
      $(this).attr "data-remote", true

    $(".pagination a").bind "click", ->
      $(".pagination").html "Загрузка страницы..."
      $.get @href, null, null, "script"
      false
