#attaches
  .apple_pagination
    =will_paginate @attaches, previous_label: '←', next_label: '→'
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th Имя
        %th Описание
        %th Тип
        %th Размер
        %th Дата и время
        %th
  
    %tbody
      - @attaches.each do |attach|
        %tr
          %td= attach.name
          %td= attach.description
          %td= attach.mime
          %td= attach.size
          %td= attach.created_at.strftime("%d.%m.%Y %H:%M:%S")
          %td
            = link_to 'Download', attach
  .apple_pagination
    =will_paginate @attaches, previous_label: '←', next_label: '→'
