= simple_form_for @attach, html: { class: 'form-horizontal form', multipart: true  }  do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, as: :hidden
    = f.input :file, :label => 'Файл', input_html: { class: 'form-input' }, as: :file
    = f.input :description, label: "Описание", input_html: { class: 'form-input', id: 'document_markdown' }
  .form-actions
    = f.submit @button_title, class: "btn"
    = link_to 'Отмена', documents_path, class: "btn"
