%h3 Список серверов
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Имя
    %th Описание
    %th Местоположение
    %th IP-адрес/DNS-имя
    %th Пользователь
    %th{:class => ( (@current_user.has_role? :admin) ? 'span4' : 'span2' )} Действия
  - @servers.each do |server|
    %tr
      %td= server.name
      %td= server.description
      %td= server.location
      %td= server.address
      %td= server.username
      %td
        .btn-group
          = link_to 'Изменить', edit_server_path(server), :class => 'btn btn-mini' if can? :manage, server
          = link_to 'Команды ('+server.commands.count.to_s+')', commands_by_server_path(server), :class => 'btn btn-mini' if can? :read, server
          = link_to 'Проблемы ('+server.problems.count.to_s+')', problems_by_server_path(server), :class => 'btn btn-mini' if can? :read, server
          = link_to 'Удалить', server, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-mini' if can? :destroy, server
%hr
- if (@current_user.has_role? :admin)
  %h3 Список команд
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Имя
      %th Описание
      %th Команда
      %th Требуется подтверждение
      %th Действия
    - @commands.each do |command|
      %tr
        %td= command.name
        %td= command.description
        %td= command.command
        %td= command.confirm
        %td
          .btn-group
            = link_to 'Изменить', edit_command_path(command), :class => 'btn btn-mini' if can? :manage, command
            = link_to 'Удалить', command, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-mini' if can? :destroy, command
            = link_to 'Выполнить', run_command_path(command), :class => 'btn btn-mini' if can? :read, command
  %hr
%h3 Известные проблемы
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Имя
    %th Описание
    %th{:class => ( (@current_user.has_role? :admin) ? 'span3' : 'span1' )} Действия
  - @problems.each do |problem|
    %tr
      %td= problem.name
      %td= problem.description
      %td
        .btn-group
          = link_to 'Изменить', edit_problem_path(problem), :class => 'btn btn-mini' if can? :manage, problem
          = link_to 'Удалить', problem, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' if can? :destroy, problem
          = link_to 'Решения ('+problem.solutions.count.to_s+')', solutions_by_problem_path(problem), :class => 'btn btn-mini' if can? :read, problem
%hr
%h3 Известные решения
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Имя
    %th Описание
    %th Команда
    %th{:class => ( (@current_user.has_role? :admin) ? 'span3' : 'span1' )} Действия
  - @solutions.each do |solution|
    %tr
      %td= solution.name
      %td= solution.description
      %td= solution.command.name
      %td
        .btn-group
          = link_to 'Изменить', edit_solution_path(solution), :class => 'btn btn-mini' if can? :manage, solution
          = link_to 'Удалить', solution, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' if can? :manage, solution
          - if solution.command
            = link_to 'Решить', run_solution_path(solution), :class => 'btn btn-mini' if can? :read, solution
