= simple_form_for @problem, html: { id: 'form', class: 'form-horizontal form' } do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, label: 'Имя', input_html: { class: 'form-input' }
    = f.input :description, label: 'Описание', input_html: { class: 'form-input', id: 'problem_markdown' }
    = f.association :tags, label: 'Метки', input_html: { multiple: true, class: 'form-input chosen-select', data: { placeholder: 'Выберите из списка' } }
    = f.association :solutions, label: 'Решения', input_html: { multiple: true, class: 'form-input chosen-select', data: { placeholder: 'Выберите из списка' } }
    = f.association :servers, label: 'Оборудование', input_html: { multiple: true, class: 'form-input chosen-select', data: { placeholder: 'Выберите из списка' } }
  .form-actions
    .pull-right.btn-group
      = f.submit @button_title+' [Ctrl+Enter]', class: 'btn btn-success'
      = link_to 'Отмена [Esc]', problems_path, class: 'btn'

:javascript
  $("#problem_name").focus();