= simple_form_for @problem, html: { class: 'form-horizontal form' } do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, label: "Имя", input_html: { class: 'form-input' }
    = f.input :description, label: "Описание", input_html: { class: 'form-input' }
    = f.association :tags, as: :check_boxes, label: "Метки", input_html: { class: 'form-input' }
  .form-actions
    = f.submit @button_title, class: "btn"
    = link_to 'Отмена', problems_path, class: 'btn'