= simple_form_for @problem, html: { id: 'form', class: 'form-horizontal form' } do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, label: 'Имя', input_html: { class: 'form-input' }
    = f.input :description, label: 'Описание', input_html: { class: 'form-input', id: 'problem_markdown' }
    = f.association :tags, as: :check_boxes, label: 'Метки', input_html: { class: 'form-input' }
  .form-actions
    .pull-right.btn-group
      = f.submit @button_title+' [Ctrl+Enter]', class: 'btn btn-success'
      = link_to 'Отмена [Esc]', problems_path, class: 'btn'