:css
  .form-inputs {
    margin: 30px;
  }

%h3 Известные проблемы
.apple_pagination
  =will_paginate @problems, :previous_label => '←', :next_label => '→'
- @problems.each do |problem|
  .form
    .form-header
      %h3= problem.name
      .btn-group.pull-right
        = link_to 'Изменить', edit_problem_path(problem), :class => 'btn btn-mini' if can? :manage, problem
        = link_to 'Удалить', problem, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' if can? :destroy, problem
        = link_to 'Решения ('+problem.solutions.count.to_s+')', solutions_by_problem_path(problem), :class => 'btn btn-mini' if can? :read, problem
    .form-inputs
      = raw RDiscount.new(problem.description).to_html
  %br
  %br
.apple_pagination
  =will_paginate @problems, :previous_label => '←', :next_label => '→'
= link_to 'Новая проблема', new_problem_path, :class => 'btn btn-mini' if can? :manage, Problem
%br