<h3>Известные проблемы</h3>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Имя</th>
    <th>Описание</th>
    <th class="<%= ( (@current_user.has_role? :admin) ? 'span3' : 'span1' ) %>"></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.name %></td>
    <td><%= problem.description %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Изменить', edit_problem_path(problem), :class => 'btn btn-mini' if can? :manage, problem %>
        <%= link_to 'Удалить', problem, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' if can? :destroy, problem %>
        <%= link_to 'Решения ('+problem.solutions.count.to_s+')', solutions_by_problem_path(problem), :class => 'btn btn-mini' if can? :read, problem %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Новая проблема', new_problem_path, :class => 'btn btn-mini' if can? :manage, Problem %>
