= simple_form_for @server, html: { class: 'form-horizontal form' }  do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, label: "Имя", input_html: { class: 'form-input' }
    = f.input :description, label: "Описание", input_html: { class: 'form-input', id: 'server_markdown' }
    = f.input :location, label: "Местонахождение", input_html: { class: 'form-input' }
    = f.input :address, label: "IP-адрес/DNS-имя", input_html: { class: 'form-input' }
    = f.input :port, label: "TCP/UDP порт", input_html: { class: 'form-input' }
    = f.input :username, label: "Имя пользователя", input_html: { class: 'form-input' }
  .form-actions
    = f.submit @button_title, class: "btn"
    = link_to 'Отмена', servers_path, class: "btn"