%h3
  = 'Список оборудования'
  = render 'filter'

.apple_pagination
  =will_paginate @servers, previous_label: '←', next_label: '→', remote: true

- @servers.each do |server|
  .form
    .form-header
      .btn-group.pull-right.right5
        = link_to glyph(:pencil)+' Изменить', edit_server_path(server), class: 'btn btn-mini' if can? :update, server
        = link_to glyph(:inbox)+' Жалобы в работе ('+server.incedents.solved(false).accessible_by(current_ability).count.to_s+')', incedents_by_server_path(server), class: 'btn btn-mini' if can? :read, server
        = link_to glyph(:briefcase)+' Жалобы в архиве ('+server.incedents.solved(true).accessible_by(current_ability).count.to_s+')', incedents_archive_by_server_path(server), class: 'btn btn-mini' if can? :read, server
        = link_to glyph(:fire)+' Проблемы ('+server.problems.count.to_s+')', problems_by_server_path(server), class: 'btn btn-mini' if can? :read, server
        = link_to glyph(:trash)+' Удалить', server, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger' if can? :destroy, server
      %h3= server.name
    .form-inputs
      = markdown(server.description)
      %br
      .controls
        %table.table.table-striped.table-bordered.table-condensed
          %tr
            %th Параметр
            %th Значение
          %tr
            %td Местонахождение
            %td= server.location
          - if @current_user.has_role? :admin or @current_user.has_role? :manager
            %tr
              %td IP-адрес/DNS-имя
              %td= server.address.split(',').join(':'+server.port+', ')+':'+server.port
          - if @current_user.has_role? :admin
            %tr
              %td Имя пользователя
              %td= server.username
    - if !server.categories.empty?
      .form-actions
        .pull-right.top-5
          - server.categories.each do |category|
            = link_to glyph(:magnet)+' '+category.name, servers_by_category_path(category), class: 'label'

    - if !server.attaches.empty?
      .form-footer
        - server.attaches.each do |attach|
          = link_to_attach_for_server(server, attach)
  %br
  %br
.apple_pagination
  =will_paginate @servers, previous_label: '←', next_label: '→', remote: true

:coffeescript
  $ ->
    $(".pagination a").each ->
      $(this).attr "data-remote", true

    $(".pagination a").bind "click", ->
      $(".pagination").html "Загрузка страницы..."
      $.get @href, null, null, "script"
      false
