%h3 Список оборудования
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Имя
    %th Описание
    %th Местоположение
    - if @current_user.has_role? :admin
      %th IP-адрес/DNS-имя
      %th Пользователь
    %th{:class => ( (@current_user.has_role? :admin) ? 'span3' : 'span1' )} Действия
  - @servers.each do |server|
    %tr
      %td= server.name
      %td= raw RDiscount.new(server.description).to_html
      %td= server.location
      - if @current_user.has_role? :admin
        %td= server.address.split(',').join(':'+server.port+', ')+':'+server.port
        %td= server.username
      %td
        .btn-group
          = link_to glyph(:pencil)+' Изменить', edit_server_path(server), :class => 'btn btn-mini' if can? :manage, server
          = link_to glyph(:fire)+' Проблемы ('+server.problems.count.to_s+')', problems_by_server_path(server), :class => 'btn btn-mini' if can? :read, server
          = link_to glyph(:trash)+' Удалить', server, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-mini btn-danger' if can? :destroy, server
= link_to glyph(:plus)+' Новое оборудование', new_server_path, :class => 'btn btn-mini' if can? :manage, Server
%br
%br