%h3 Пользователи системы
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Имя
    %th Подразделение
    %th Логин/E-mail
    %th Jabber ID
    %th Дата регистрации
    %th Роль
    %th{class: ((@current_user.has_role? :admin) ? 'span3' : 'span2' )} Действия
  - @users.each do |user|
    %tr{class: (user.active? ? 'success' : 'error' )}
      %td= user.realname
      %td= user.division.name if user.division
      %td= user.username+' ('+user.email+')'
      %td= user.jabber
      %td= user.created_at.to_date
      %td= user.roles.first.description unless user.roles.first.nil?
      %td
        .btn-group
          - if current_user.has_role? :admin
            %a.btn.btn-mini{'data-toggle' => 'modal', href: "#role-options-#{user.id}"}
              = glyph(:user)+' Роль'
            = render user
          = link_to glyph(:pencil)+' Изменить', edit_user_path(user), class: 'btn btn-mini' if can? :update, user
          = link_to glyph(:wrench)+' Настройки', user_setup_path(user), class: 'btn btn-mini' if can? :update_settings, user
          - if user.active?
            = link_to(glyph(:remove)+' Деактивировать', deactivate_user_path(user), data: { confirm: 'Вы уверены?' }, method: :delete, class: 'btn btn-mini btn-warning') unless (user == current_user) && (can? :deactivate, user)
          - else
            = link_to(glyph(:ok)+' Активировать', activate_user_path(user), data: { confirm: 'Вы уверены?' }, method: :delete, class: 'btn btn-mini btn-warning') unless (user == current_user) && (can? :activate, user)
          = link_to(glyph(:remove_circle)+' Сбросить', reset_user_path(user), data: { confirm: 'Вы уверены?' }, method: :delete, class: 'btn btn-mini btn-warning') unless (user == current_user) && (can? :reset, user)
          = link_to(glyph(:trash)+' Удалить', user_path(user), data: { confirm: 'Вы уверены?' }, method: :delete, class: 'btn btn-mini btn-danger') unless (user == current_user) && (can? :destroy, user)
= link_to glyph(:plus)+' Новый пользователь', new_user_path, class: 'btn btn-mini', data: { keybinding: 'ins', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: Ins' if can? :manage, User
%br
%br