%h3 Пользователи системы
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Имя
    %th E-mail
    %th Дата регистрации
    %th Роль
    %th{:class => ( (@current_user.has_role? :admin) ? 'span3' : 'span2' )} Действия
  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.email
      %td= user.created_at.to_date
      %td= user.roles.first.name.titleize unless user.roles.first.nil?
      %td
        .btn-group
          - if current_user.has_role? :admin
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}"}
              = glyph(:user)+" Роль"
            = render user
          = link_to glyph(:pencil)+" Изменить", edit_user_path(user), :class => 'btn btn-mini' if can? :update, user
          = link_to(glyph(:trash)+" Удалить", user_path(user), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'btn btn-mini btn-danger') unless (user == current_user) && (can? :destroy, user)
= link_to glyph(:plus)+' Новый пользователь', new_user_path, :class => 'btn btn-mini', :data => { :keybinding => 'ins' } if can? :manage, User
%br
%br