= simple_form_for @division, html: { id: 'form', class: 'form-horizontal form' } do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, label: 'Имя', input_html: { class: 'form-input' }
    = f.input :description, label: 'Описание', input_html: { class: 'form-input' }
    = f.association :users, label: 'Пользователи', input_html: { multiple: true, class: 'form-input chosen-select', data: { placeholder: 'Выберите из списка' } }
  .form-actions
    .pull-right.btn-group
      = f.submit @button_title+' [Ctrl+Enter]', class: 'btn btn-success'
      = link_to 'Отмена [Esc]', divisions_path, class: 'btn'

:javascript
  $("#category_name").focus();
