%h3 Текущие жалобы

.apple_pagination
  =will_paginate @incedents, previous_label: '←', next_label: '→', remote: true

%table.table.table-very-condensed.table-bordered.table-hover.table-sorted#incedents_table
  %thead
    %tr
      %th{data: { rel: 'tooltip', placement: 'bottom', container: 'body', delay: '200' }, title: 'Приоритет'}
      %th{data: { rel: 'tooltip', placement: 'bottom', container: 'body', delay: '200' }, title: 'Статус'}
      %th Тип
      %th Имя
      %th Дата создания
      %th Срок исполнения
      - if @divisions.empty?
        %th Инициатор
        %th Исполнитель


  %tbody
    - @incedents.each do |incedent|
      %tr{ class: (((params[:action] != 'archive') and (!incedent.is_solved?)) ? ((incedent.is_overdated_review? @current_user) ? 'info' : ((incedent.is_overdated_now? @current_user) ? 'error' : ((incedent.is_overdated_soon? @current_user) ? 'warning' : ''))) : ''), onclick: "window.location = '#{incedent_url(incedent)}'" }
        %td
          = image_tag 'priority'+incedent.priority_id.to_s+'.gif', data: { rel: 'tooltip', placement: 'bottom', container: 'body', delay: '200' }, title: incedent.priority.name
        %td
          = image_tag 'status'+(incedent.get_status_id  @current_user).to_s+'.gif', data: { rel: 'tooltip', placement: 'bottom', container: 'body', delay: '200' }, title: (incedent.get_status_name @current_user)
        %td
          = lbl incedent.type.name
        %td
          = incedent.name[0..60]+(incedent.name.length >= 60 ? '...' : '')
        %td
          = incedent.created_at.strftime('%d.%m.%Y %H:%M')
        %td
          = incedent.finish_at.strftime('%d.%m.%Y %H:%M')
        - if @divisions.empty?
          %td
            - if incedent.has_initiator?
              = incedent.initiator.realname
          %td
            - if incedent.has_worker?
              = incedent.worker.realname

.apple_pagination
  =will_paginate @incedents, previous_label: '←', next_label: '→', remote: true

- if @divisions.empty?
  = link_to glyph(:plus)+' Новая жалоба', new_incedent_path, class: 'btn btn-mini', data: { keybinding: 'ins', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: Ins' if can? :create, Incedent

:coffeescript
  $ ->
    $("#incedents_table").tablesorter({sortList:[[1,1],[5,0],[0,1]]})

    $(".pagination a").each ->
      $(this).attr "data-remote", true

    $(".pagination a").bind "click", ->
      $(".pagination").html "Загрузка страницы..."
      $.get @href, null, null, "script"
      false
