%br
%br
= simple_form_for @document_comment, url: add_document_comment_path(@document_comment.document), method: :post, html: { class: 'form-horizontal form', multipart: true } do |f|
  .form-header
    %h3 Оставить коментарий
  .form-inputs
    = f.input :document_id, as: :hidden
    = f.simple_fields_for :comment do |c|
      = c.input :author_id, as: :hidden
      = c.input :title, label: 'Тема', input_html: { class: 'form-input' }
      = c.input :body, label: 'Коментарий', input_html: { class: 'form-input', id: 'document_comment_markdown' }, as: :text
      #attaches
      = add_object_link(glyph(:plus)+' Прикрепить файл', f, Attach.new, 'comment_file', '#attaches')
  .form-actions
    .pull-right
      = f.submit 'Добавить коментарий', class: 'btn btn-success'
%br
%br
