%br
%br
- if @document.comments
  %h3 Обсуждение рецепта
  - @document.comments.each do |comment|
    .form
      %a{ name: comment.id }
      .form-header
        .pull-right
          = link_to glyph(:trash)+' Удалить', delete_document_comment_path(@document, comment), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger' if can? :destroy, @document
        .pull-left
          = image_tag gravatar_url(comment.author), class: 'img-polaroid user-avatar'
        %h3= comment.title
      .form-inputs
        = markdown(comment.body)
      - if (@current_user.has_role? :admin)
        .form-actions
          = content_tag :strong, 'Автор: '
          = comment.author.display_name
          .pull-right.right5
            = content_tag :strong, 'Дата публикации: '
            = comment.created_at.strftime('%d.%m.%Y в %H:%M')
      - if comment.attaches.present?
        .form-footer
          - comment.attaches.each do |attach|
            = link_to_attach_for_comment(comment, attach)
    %br
    %br
