= simple_form_for @document, html: { class: 'form-horizontal form' }  do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :user_id, as: :hidden
    = f.input :title, label: "Заголовок", input_html: { class: 'form-input' }
    = f.input :body, label: "Документ", input_html: { class: 'form-input', id: 'document_markdown' }
  .form-actions
    = f.submit @button_title, class: "btn"
    = link_to 'Отмена', documents_path, class: "btn"
