:css
  .form-inputs {
    margin: 30px;
  }

%h3 Книга рецептов
.apple_pagination
  =will_paginate @documents, previous_label: '←', next_label: '→'
- @documents.each do |document|
  .form
    .form-header
      .btn-group.pull-right.top10.right10
        = link_to glyph(:comment)+' Обсудить ('+document.comments.count.to_s+')', document_comments_path(document), class: 'btn btn-mini' if can? :create, Comment
        = link_to glyph(:eye_open)+' Читать', document, class: 'btn btn-mini' if can? :read, document
        = link_to glyph(:pencil)+' Изменить', edit_document_path(document), class: 'btn btn-mini' if can? :update, document
        - if can? :manage, document
          %a.btn.btn-mini.dropdown-toggle{"data-toggle" => 'dropdown', :href => '#'}
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to glyph(:thumbs_up)+' Утвердить', move_document_to_solution_path(document), class: 'btn btn-mini btn-success' if can? :move, document
            %li
              = link_to glyph(:trash)+' Удалить', document, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger' if can? :destroy, document
      %h3= document.title
    .form-inputs
      = raw RDiscount.new(document.body.slice(0, 500)+link_to('...', document, class: 'btn btn-mini')).to_html
      .pull-right
        = 'Автор: '+document.user.realname+' ('+document.user.email+')'
      %br
  %br
  %br
.apple_pagination
  =will_paginate @documents, previous_label: '←', next_label: '→'
= link_to glyph(:plus)+' Новый рецепт', new_document_path, class: 'btn btn-mini', data: { keybinding: 'ins' } if can? :create, Document
%br
%br