:css
  .form-inputs {
    margin: 30px;
  }

.form
  .form-header
    %h3= @document.title
    .btn-group.pull-right
      = link_to glyph(:pencil)+' Изменить', edit_document_path(@document), :class => 'btn btn-mini' if can? :update, @document
      = link_to glyph(:thumbs_up)+' Утвердить', move_document_to_solution_path(@document), :class => 'btn btn-mini btn-success' if can? :move, document
      = link_to glyph(:trash)+' Удалить', @document, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-mini btn-danger' if can? :destroy, @document
  .form-inputs
    = raw RDiscount.new(@document.body).to_html
    .pull-right
      = 'Автор: '+@document.user.name+' ('+@document.user.email+')'
    %br
