.form
  .form-header
    .btn-group.pull-right.top10.right10
      = link_to glyph(:pencil)+' Изменить', edit_document_path(@document), class: 'btn btn-mini' if can? :update, @document
      = link_to glyph(:thumbs_up)+' Утвердить', move_document_to_solution_path(@document), class: 'btn btn-mini btn-success' if can? :move, @document
      = link_to glyph(:trash)+' Удалить', @document, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger' if can? :destroy, @document
    %h3= @document.title
  .form-inputs
    = markdown(@document.body)
    .pull-right
      = 'Автор: '+@document.user.realname+' ('+@document.user.email+')'
    %br
%br
%br
- if @document.comments
  %h3 Обсуждение рецепта
  - @document.comments.each do |comment|
    .form
      .form-header
        .pull-right.top5.right10
          = content_tag :strong, 'Автор: '
          = comment.author.realname
          %br
          = content_tag :strong, 'Дата публикации: '
          = comment.created_at.strftime("%d.%m.%Y в %H:%M")
        %h3= comment.title
      .form-inputs
        = markdown(comment.body)
    %br
    %br
%br
%br
= render 'comment'
%br
%br
