= simple_form_for @tag, html: { id: 'form', class: 'form-horizontal form' } do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, label: "Имя", input_html: { class: 'form-input' }
  .form-actions
    .pull-right.btn-group
      = f.submit @button_title+' [Ctrl+Enter]', class: "btn btn-success"
      = link_to 'Отмена [Esc]', tags_path, class: 'btn'