.form.form-horizontal
  .form-header
    %h5= glyph(:filter)+" Фильтр для жалоб"
  .form-inputs
    .container-fluid
      - if current_user.has_role? :admin
        .row-fluid
          .span12
            %small По пользователю:
            %select.chosen-select.form-input{ onchange: "window.toggle_filter(this.value);", data: { placeholder: 'Выберите из списка' } }
              %option{ value: '' }
              - User.all.each_slice(10).to_a.each do |users|
                - users.each do |user|
                  %option{ value: make_archive_user_filter_url(user, params[:type_id], params[:priority_id], params[:server_id]), selected: (params[:user_id] == user.id.to_s) }
                    = user.realname
      .row-fluid
        .span12
          %small По оборудованию:
          %select.chosen-select.form-input{ onchange: "window.toggle_filter(this.value);", data: { placeholder: 'Выберите из списка' } }
            %option{ value: '' }
            - Server.all.each do |server|
              %option{ value: make_archive_server_filter_url(server, params[:type_id], params[:priority_id], params[:user_id]), selected: (params[:server_id] == server.id.to_s) }
                = server.name
            %br
      .row-fluid
        .span12
          %small По приоритету:
          %select.chosen-select.form-input{ onchange: "window.toggle_filter(this.value);", data: { placeholder: 'Выберите из списка' } }
            %option{ value: '' }
            - Priority.all.each do |priority|
              %option{ value: make_archive_priority_filter_url(priority, params[:type_id], params[:user_id], params[:server_id]), selected: (params[:priority_id] == priority.id.to_s) }
                = priority.name
      .row-fluid
        .span12
          %small По типу:
          %select.chosen-select.form-input{ onchange: "window.toggle_filter(this.value);", data: { placeholder: 'Выберите из списка' } }
            %option{ value: '' }
            - Type.all.each do |type|
              %option{ value: make_archive_type_filter_url(type, params[:priority_id], params[:user_id], params[:server_id]), selected: (params[:type_id] == type.id.to_s) }
                = type.name

  .form-actions
    .btn-group.pull-right.top-5
      = make_archive_download_url(params[:type_id], params[:priority_id], params[:tag_id], params[:user_id], params[:server_id])
      = link_to glyph(:remove)+' Отменить фильтры', incedents_archive_path, class: 'btn btn-mini'