%br
%br
- if @incedent.comments
  %h3 Обсуждение жалобы
  - @incedent.comments.each do |comment|
    .form
      %a{ name: comment.id }
      .form-header
        .pull-right.top5.right10
          = content_tag :strong, 'Автор: '
          = comment.author.realname
          %br
          = content_tag :strong, 'Дата публикации: '
          = comment.created_at.strftime('%d.%m.%Y в %H:%M')
        .pull-left
          = image_tag gravatar_url(comment.author), class: 'img-polaroid user-avatar'
        %h3= comment.title
      .form-inputs
        = markdown(comment.body)
      - if (@current_user.has_role? :admin)
        .form-actions
          .pull-right
            = link_to glyph(:trash)+' Удалить', delete_incedent_comment_path(@incedent, comment), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger' if can? :destroy, @incedent
      - if !comment.attaches.empty?
        .form-footer
          - comment.attaches.each do |attach|
            = link_to_attach_for_comment(comment, attach)
    %br
    %br