%br
%br
- if @incedent.comments
  %h3 Обсуждение жалобы
  - @incedent.comments.each do |comment|
    .form
      .form-header
        .pull-right.top5.right10
          = content_tag :strong, 'Автор: '
          = comment.author.realname
          %br
          = content_tag :strong, 'Дата публикации: '
          = comment.created_at.strftime("%d.%m.%Y в %H:%M")
        %h3= comment.title
      .form-inputs
        = markdown(comment.body)
    %br
    %br