.pull-right.btn-group#buttons
  = make_download_url(params[:status_id], params[:type_id], params[:priority_id], params[:tag_id], params[:user_id], params[:server_id])
  %a.btn.btn-mini{onclick: '$(\'#filter\').show(\'fast\'); $(\'#buttons\').hide();', title: 'Фильтр'}
    = glyph(:filter)+' Фильтр'
.form.form-horizontal.filter#filter
  .pull-right
    %i.icon-remove#close-button{onclick: '$(\'#filter\').hide(\'fast\'); $(\'#buttons\').show();', title: 'Закрыть'}
  .form-inputs
    .container-fluid
      - if current_user.has_role? :admin
        .row-fluid
          .span2
            %small По пользователю:
          .span10
            - User.all.each_slice(10).to_a.each do |users|
              .btn-group
                - users.each do |user|
                  = make_user_filter_url(user, params[:status_id], params[:type_id], params[:priority_id], params[:server_id])
              %br
      .row-fluid
        .span2
          %small По оборудованию:
        .span10
          - Server.all.each_slice(10).to_a.each do |servers|
            .btn-group
              - servers.each do |server|
                = make_server_filter_url(server, params[:type_id], params[:priority_id], params[:user_id], params[:status_id])
            %br
      .row-fluid
        .span2
          %small По статусу:
        .span10
          .btn-group
            - Status.all.each do |status|
              - if status.id != Houston::Application.config.incedent_solved and status.id != Houston::Application.config.incedent_waited
                = make_status_filter_url(status, params[:type_id], params[:priority_id], params[:user_id], params[:server_id])
      .row-fluid
        .span2
          %small По приоритету:
        .span10
          .btn-group
            - Priority.all.each do |priority|
              = make_priority_filter_url(priority, params[:status_id], params[:type_id], params[:user_id], params[:server_id])
      .row-fluid
        .span2
          %small По типу:
        .span10
          .btn-group
            - Type.all.each do |type|
              = make_type_filter_url(type, params[:status_id], params[:priority_id], params[:user_id], params[:server_id])
  .form-actions
    .pull-right.top-10
      = link_to 'Отменить все фильтры', incedents_path, class: 'btn btn-mini'