= simple_form_for @incedent, html: { class: 'form-horizontal form' } do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, label: "Имя", input_html: { class: 'form-input' }
    = f.input :description, label: "Описание", input_html: { class: 'form-input' }
    - if current_user.has_role? :admin
      = f.association :initiator, include_blank: false, label: "Инициатор", input_html: { class: 'form-input' }
      = f.association :worker, include_blank: true, label: "Исполнитель", input_html: { class: 'form-input' }
      = f.association :status, include_blank: false, label: "Статус", input_html: { class: 'form-input' }
    - elsif current_user.has_role? :manager
      = f.input :initiator_id, as: :hidden
      = f.input :worker_id, as: :hidden
      = f.association :status, include_blank: false, label: "Статус", input_html: { class: 'form-input' }
    - else
      = f.input :initiator_id, as: :hidden
      = f.input :worker_id, as: :hidden
      = f.input :status_id, as: :hidden
    = f.association :priority, include_blank: false, label: "Приоритет", input_html: { class: 'form-input' }
    = f.association :type, include_blank: false, label: "Тип", input_html: { class: 'form-input' }
    = f.association :tags, as: :check_boxes, label: "Метки", input_html: { class: 'form-input' }
  .form-actions
    = f.submit @button_title, class: "btn"
    = link_to 'Отмена', incedents_path, class: "btn"
