:css
  #history {
    display: none;
  }

.modal.popup{ id: "incedent-popup-#{incedent.id}", style: 'display: none;' }
  .modal-header.popup-header
    .btn-group.pull-right.right5.top5
      - if incedent.incedent_actions
        = link_to glyph(:comment)+' '+badge(incedent.comments.count.to_s), incedent_comments_path(incedent), class: 'btn btn-mini', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Обсудить жалобу' if can? :create, Comment
        = link_to glyph(:pencil), edit_incedent_path(incedent), class: 'btn btn-mini', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Редактировать жалобу' if can? :update, incedent and ((!incedent.is_closed? and !incedent.is_solved?) or (current_user.has_role? :admin))
        -if !incedent.is_solved?
          - if (!incedent.has_observer? and !(incedent.worker == current_user or incedent.initiator == current_user))
            = link_to glyph(:eye_open), watch_incedent_path(incedent), class: 'btn btn-mini', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Набдюдать за жалобой' if can? :watch, incedent
          - elsif (incedent.has_observer? and (incedent.observer == current_user))
            = link_to glyph(:eye_close), unwatch_incedent_path(incedent), class: 'btn btn-mini', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Перестать наблюдать за жалобой' if can? :unwatch, incedent
          - if !incedent.is_closed? and can? :work, incedent
            %a.btn.btn-mini{'data-toggle' => 'modal', href: "#incedent-work-#{incedent.id}", data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Передать жалобу в работу' }
              = glyph(:share)
            = render partial: 'work', locals: { incedent: incedent }
          - if (incedent.has_worker? and incedent.worker == current_user)
            - if incedent.is_played? and !incedent.is_rejected? and !incedent.is_closed? and incedent.has_worker?
              = link_to glyph(:pause), pause_incedent_path(incedent), class: 'btn btn-mini', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Приостановить работу над жалобой' if can? :pause, incedent
            - elsif !incedent.is_rejected? and !incedent.is_closed?
              = link_to glyph(:play), play_incedent_path(incedent), class: 'btn btn-mini', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Приступить к работе над жалобой' if can? :play, incedent
            - if (incedent.is_played? or incedent.is_paused?) and !incedent.is_rejected? and !incedent.is_closed? and incedent.has_worker?
              = link_to glyph(:stop), stop_incedent_path(incedent), class: 'btn btn-mini', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Остановить работу над жалобой' if can? :stop, incedent
          - else
            - if !incedent.is_rejected? and !incedent.is_closed? and (!incedent.has_worker?)
              = link_to glyph(:play), play_incedent_path(incedent), class: 'btn btn-mini', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Приступить к работе над жалобой' if can? :play, incedent
          - if !incedent.is_rejected? and !incedent.is_closed? and can? :reject, incedent
            %a.btn.btn-mini{'data-toggle' => 'modal', href: "#incedent-reject-#{incedent.id}", data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Отклонить жалобу'}
              = glyph(:remove)
            = render partial: 'reject', locals: { incedent: incedent }
          - if (incedent.is_rejected? or incedent.is_closed?) and can? :replay, incedent and incedent.has_worker?
            %a.btn.btn-mini{'data-toggle' => 'modal', href: "#incedent-replay-#{incedent.id}", data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Возобновить работу над жалобой'}
              = glyph(:play)
            = render partial: 'replay', locals: { incedent: incedent }
          - if !incedent.is_closed? and  can? :close, incedent
            %a.btn.btn-mini{'data-toggle' => 'modal', href: "#incedent-close-#{incedent.id}", data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Завершить работы над жалобой'}
              = glyph(:ok)
            = render partial: 'close', locals: { incedent: incedent }
          - if (incedent.is_closed? or incedent.is_stoped?) and can? :solve, incedent
            = link_to glyph(:thumbs_up), solve_incedent_path(incedent), class: 'btn btn-mini btn-success', data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Жалоба успешно решена' if can? :solve, incedent
        - elsif current_user.has_role? :admin and can? :replay, incedent
          %a.btn.btn-mini{'data-toggle' => 'modal', href: "#incedent-replay-#{incedent.id}", data: { rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Возобновить работу над жалобой'}
            = glyph(:play)
          = render partial: 'replay', locals: { incedent: incedent }
        = link_to glyph(:trash), incedent, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Вы уверены?', rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Удалить жалобу' if can? :destroy, incedent
        = link_to glyph(:remove), "#", data: { dismiss: 'modal', rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Закрыть окно', class: 'btn btn-mini'
    %h4= incedent.name[0..60]+(incedent.name.length >= 60 ? '...' : '')
  .modal-body.popup-body{ class: (incedent.is_solved? ? 'solved' : (incedent.is_rejected? ? 'rejected' : (incedent.is_played? ? 'played' : (incedent.is_closed? ? 'closed' : '')))) }
    = markdown(incedent.description)
    %br
    .container-fluid
      .row-fluid
        .span6
          = content_tag :strong, 'Дата создания: '
          = incedent.created_at.strftime('%d.%m.%Y в %H:%M')
          %br
          = content_tag :strong, 'Дата изменений: '
          = incedent.updated_at.strftime('%d.%m.%Y в %H:%M')
          %br
          = content_tag :strong, 'Срок исполнения: '
          = incedent.finish_at.strftime('%d.%m.%Y в %H:%M')
        .span6
          .pull-right
            - if incedent.has_operator?
              = content_tag :strong, 'Оператор: '
              = incedent.operator.display_name
            - if incedent.has_initiator?
              %br
              = content_tag :strong, 'Инициатор: '
              = incedent.initiator.display_name
            - if incedent.has_worker?
              %br
              = content_tag :strong, 'Исполнитель: '
              = incedent.worker.display_name
            - if incedent.has_observer?
              %br
              = content_tag :strong, 'Наблюдатель: '
              = incedent.observer.display_name
  .modal-footer.popup-footer
    .pull-left
      = lbl incedent.status.name
      = lbl incedent.priority.name
      = lbl incedent.type.name
    - if incedent.tags
      .pull-right.top-5
        - incedent.tags.each do |tag|
          = link_to glyph(:tag)+' '+tag.name, incedents_by_tag_path(tag), class: 'label'
    - if incedent.server
      .pull-right.top-5
        = link_to glyph(:hdd)+' '+incedent.server.name, ((params[:action] == 'archive') ? incedents_archive_by_server_path(incedent.server) : incedents_by_server_path(incedent.server)), class: 'label'
