.modal.popup{ id: "incedent-popup-#{incedent.id}", style: 'display: none;' }
  .modal-header.popup-header
    .btn-group.pull-right.right5.top5
      - if incedent.incedent_actions
        = link_to glyph(:comment)+' ('+incedent.comments.count.to_s+')', incedent_comments_path(incedent), class: 'btn btn-mini' if can? :create, Comment
        = render partial: "controls", locals: { incedent: incedent, title: false }
        = link_to glyph(:remove), "#", data: { dismiss: 'modal', rel: 'tooltip', placement: 'bottom', delay: '200' }, title: 'Закрыть окно', class: 'btn btn-mini'
    %h4= incedent.name[0..60]+(incedent.name.length >= 60 ? '...' : '')
  .modal-body.popup-body{ class: ((params[:action] != 'archive') ? (incedent.is_overdated_review? @current_user ? 'error' : (incedent.is_overdated_now? @current_user ? 'error' : (incedent.is_overdated_soon? @current_user ? 'warning' : ''))) : '') }
    = markdown(incedent.description)
    %br
    .container-fluid
      .row-fluid
        .span6
          = content_tag :strong, 'Дата создания: '
          = incedent.created_at.strftime('%d.%m.%Y в %H:%M')
          %br
          = content_tag :strong, 'Дата изменений: '
          = incedent.updated_at.strftime('%d.%m.%Y в %H:%M')
          %br
          = content_tag :strong, 'Срок исполнения: '
          = incedent.finish_at.strftime('%d.%m.%Y в %H:%M')
        .span6
          .pull-right
            - if incedent.has_operator?
              = content_tag :strong, 'Оператор: '
              = incedent.operator.realname
            - if incedent.has_initiator?
              %br
              = content_tag :strong, 'Инициатор: '
              = incedent.initiator.realname
            - if incedent.has_workers?
              %br
              = content_tag :strong, 'Исполнители: '
              = incedent.workers.all.collect(&:realname).join(", ")
            - if incedent.has_observers?
              %br
              = content_tag :strong, 'Наблюдатели: '
              = incedent.observers.all.collect(&:realname).join(", ")
            - if incedent.has_reviewers?
              %br
              = content_tag :strong, 'На согласовании: '
              = incedent.reviewers.all.collect(&:realname).join(", ")
  .modal-footer.popup-footer
    .pull-left
      = lbl (incedent.get_status_name @current_user)
      = lbl incedent.priority.name
      = lbl incedent.type.name
    - if incedent.tags
      .pull-right.top-5
        - incedent.tags.each do |tag|
          = link_to glyph(:tag)+' '+tag.name, incedents_by_tag_path(tag), class: 'label'
    - if incedent.server
      .pull-right.top-5
        = link_to glyph(:hdd)+' '+incedent.server.name, ((params[:action] == 'archive') ? incedents_archive_by_server_path(incedent.server) : incedents_by_server_path(incedent.server)), class: 'label'
