:css
  form {
    margin: 0;
  }
  .modal {
    width: 30%;
  }
  .modal-body {
    max-height: 100%;
  }

.modal{id: "incedent-reject-#{incedent.id}", style: 'display: none;'}
  = simple_form_for incedent, url: reject_incedent_path(incedent), method: :post, html: { id: "reject-form-#{incedent.id}", class: 'form-horizontal form' } do |f|
    .modal-header
      %i.icon-remove.pull-right{'data-dismiss' => 'modal'}
      %h3 Укажите причину отклонения
    .modal-body
      = f.input :reject_reason, label: false, input_html: { class: 'form-input' }, as: :text, class: 'form-modal-input'
    .modal-footer
      .pull-right.btn-group
        = f.submit 'Отклонить жалобу [Ctrl+Enter]', class: 'btn btn-success'
        %a.btn{'data-dismiss' => 'modal', href: '#'} Отмена [Esc]

:javascript
  $('#reject-form-#{incedent.id}').keypress(function(e){
      if (((e.keyCode == 13) || (e.keyCode == 10)) && (e.ctrlKey == true)) {
          this.submit();
      }
  });
  
  $('#incedent-reject-#{incedent.id}').on('shown', function () {
    $("#incedent-reject-#{incedent.id} textarea").first().focus();
  });
