:css
  .filter {
    display: none;
  }

.pull-right
  %a.btn.btn-mini#filter-button{onclick: "$('#filter').show('fast'); $('#filter-button').hide();", title: 'Фильтр'}
    = glyph(:filter)+' Фильтр'
%br
.form.form-horizontal.filter#filter
  .pull-right
    %i.icon-remove#close-button{onclick: "$('#filter').hide('fast'); $('#filter-button').show();", title: 'Закрыть'}
  .form-inputs
    .control-group
      %label.control-label По статусу:
      .controls
        - Status.all.each do |status|
          = make_status_filter_url(status, params[:type_id], params[:priority_id])
    .control-group
      %label.control-label По приоритету:
      .controls
        - Priority.all.each do |priority|
          = make_priority_filter_url(priority, params[:status_id], params[:type_id])
    .control-group
      %label.control-label По типу:
      .controls
        - Type.all.each do |type|
          = make_type_filter_url(type, params[:status_id], params[:priority_id])
    .control-group
      = link_to "Отменить все фильтры", incedents_path, class: 'btn btn-mini'
%br
- @incedents.each do |incedent|
  .form
    .form-header
      .btn-group.pull-right.top10.right10
        = link_to glyph(:comment)+' Обсудить ('+incedent.comments.count.to_s+')', incedent_comments_path(incedent), class: 'btn btn-mini' if can? :create, Comment
        = link_to glyph(:eye_open)+' Посмотреть', incedent, class: 'btn btn-mini' if can? :read, incedent
        = link_to glyph(:pencil)+' Изменить', edit_incedent_path(incedent), class: 'btn btn-mini' if can? :update, incedent and ((!incedent.is_closed? and !incedent.is_solved?) or (current_user.has_role? :admin)) 
        -if !incedent.is_solved?
          - if (incedent.worker and incedent.worker == current_user)
            - if incedent.is_played? and !incedent.is_rejected? and !incedent.is_closed? and incedent.has_worker?
              = link_to glyph(:pause)+' Приостановить', pause_incedent_path(incedent), class: 'btn btn-mini' if can? :pause, incedent
            - elsif !incedent.is_rejected? and !incedent.is_closed?
              = link_to glyph(:play)+' В работу', play_incedent_path(incedent), class: 'btn btn-mini' if can? :play, incedent
            - if (incedent.is_played? or incedent.is_paused?) and !incedent.is_rejected? and !incedent.is_closed? and incedent.has_worker?
              = link_to glyph(:stop)+' Остановить', stop_incedent_path(incedent), class: 'btn btn-mini' if can? :stop, incedent
          - else
            - if !incedent.is_rejected? and !incedent.is_closed?
              = link_to glyph(:play)+' В работу', play_incedent_path(incedent), class: 'btn btn-mini' if can? :play, incedent
          - if !incedent.is_rejected? and !incedent.is_closed?
            = link_to glyph(:remove)+' Отклонить', reject_incedent_path(incedent), data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini' if can? :reject, incedent
          - if !incedent.is_closed?
            = link_to glyph(:ok)+' Закрыть', close_incedent_path(incedent), data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini' if can? :close, incedent
          - if (incedent.is_rejected? or incedent.is_closed?) and can? :replay, incedent and incedent.has_worker?
            = link_to glyph(:play)+' Возобновить', play_incedent_path(incedent), class: 'btn btn-mini' if can? :replay, incedent
          - if (incedent.is_closed? or incedent.is_stoped?) and !incedent.is_solved? and can? :solve, incedent
            = link_to glyph(:thumbs_up)+' Решено', solve_incedent_path(incedent), class: 'btn btn-mini btn-success' if can? :solve, incedent
        - elsif current_user.has_role? :admin
          = link_to glyph(:play)+' Возобновить', play_incedent_path(incedent), class: 'btn btn-mini' if can? :replay, incedent
        = link_to glyph(:trash)+' Удалить', incedent, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger' if can? :destroy, incedent
      %h3= incedent.name
    .form-inputs
      = raw RDiscount.new(incedent.description).to_html
      .pull-right
        = 'Автор: '+incedent.initiator.realname+' ('+incedent.initiator.email+')'
        - if incedent.has_worker?
          %br
          = 'Исполнитель: '+incedent.worker.realname+' ('+incedent.worker.email+')'
      %br
    .form-actions
      = 'Статус: '+incedent.status.name+', Приоритет: '+incedent.priority.name+', Тип: '+incedent.type.name
      - if incedent.tags
        .pull-right
          - incedent.tags.each do |tag|
            = link_to glyph(:tag)+' '+tag.name, incedents_by_tag_path(tag), class: 'btn btn-mini'
  %br
  %br
.apple_pagination
  =will_paginate @audits, previous_label: '←', next_label: '→'
= link_to glyph(:plus)+' Новая жалоба', new_incedent_path, class: 'btn btn-mini', data: { keybinding: 'ins' } if can? :create, Incedent
%br
%br
