:css
  #history {
    display: none;
  }

.form{ class: ((params[:action] != 'archive') ? (@incedent.is_overdated_review? ? 'error' : (@incedent.is_overdated_now? ? 'error' : (@incedent.is_overdated_soon? ? 'warning' : ''))) : '') }
  .form-header
    .btn-group.pull-right.right5
      - if @incedent.incedent_actions
        %a.btn.btn-mini#filter-button{onclick: '$(\'#history\').toggle(\'fast\');', title: 'История изменений'}
          = glyph(:tasks)+' История ('+@incedent.incedent_actions.count.to_s+')'
      = render partial: "controls", locals: { incedent: @incedent, title: true }
    .pull-left
      = image_tag gravatar_url(@incedent.initiator), class: 'img-polaroid user-avatar'
    %h3= @incedent.name[0..60]+(@incedent.name.length >= 60 ? '...' : '')
  .form-inputs
    = markdown(@incedent.description)
    %br
    .container-fluid
      .row-fluid
        .span6
          = content_tag :strong, 'Дата создания: '
          = @incedent.created_at.strftime('%d.%m.%Y в %H:%M')
          %br
          = content_tag :strong, 'Дата изменений: '
          = @incedent.updated_at.strftime('%d.%m.%Y в %H:%M')
          %br
          = content_tag :strong, 'Срок исполнения: '
          = @incedent.finish_at.strftime('%d.%m.%Y в %H:%M')
        .span6
          .pull-right
            - if @incedent.has_operator?
              = content_tag :strong, 'Оператор: '
              = @incedent.operator.display_name
            - if @incedent.has_initiator?
              %br
              = content_tag :strong, 'Инициатор: '
              = @incedent.initiator.display_name
            - if @incedent.has_workers?
              %br
              = content_tag :strong, 'Исполнители: '
              = @incedent.workers.all.collect(&:realname).join(", ")
            - if @incedent.has_observers?
              %br
              = content_tag :strong, 'Наблюдатели: '
              = @incedent.observers.all.collect(&:realname).join(", ")
            - if @incedent.has_reviewers?
              %br
              = content_tag :strong, 'На согласовании: '
              = @incedent.reviewers.all.collect(&:realname).join(", ")
    = render 'history' if @incedent.incedent_actions
  .form-actions
    .pull-left
      = lbl @incedent.status.name
      = lbl @incedent.priority.name
      = lbl @incedent.type.name

    - if @incedent.tags
      .pull-right.top-5
        - @incedent.tags.each do |tag|
          = link_to glyph(:tag)+' '+tag.name, incedents_by_tag_path(tag), class: 'label'
    - if @incedent.server
      .pull-right.top-5
        = link_to glyph(:hdd)+' '+@incedent.server.name, ((params[:action] == 'archive') ? incedents_archive_by_server_path(@incedent.server) : incedents_by_server_path(@incedent.server)), class: 'label'
  - if !@incedent.attaches.empty?
    .form-footer
      - @incedent.attaches.each do |attach|
        = link_to_attach_for_incedent(@incedent, attach)

= render 'comments'
= render 'comment'