:css
  #history {
    display: none;
  }

.form
  .form-header
    .btn-group.pull-right.top10.right10
      - if @incedent.incedent_actions and (current_user.has_role? :admin)
        %a.btn.btn-mini#filter-button{onclick: "$('#history').show('fast');", title: 'История изменений'}
          = glyph(:tasks)+' История'
      = link_to glyph(:pencil)+' Изменить', edit_incedent_path(@incedent), class: 'btn btn-mini' if can? :update, @incedent and ((!@incedent.is_closed? and !@incedent.is_solved?) or (current_user.has_role? :admin)) 
      -if !@incedent.is_solved?
        - if (@incedent.worker and @incedent.worker == current_user)
          - if @incedent.is_played? and !@incedent.is_rejected? and !@incedent.is_closed? and @incedent.has_worker?
            = link_to glyph(:pause)+' Приостановить', pause_incedent_path(@incedent), class: 'btn btn-mini' if can? :pause, @incedent
          - elsif !@incedent.is_rejected? and !@incedent.is_closed?
            = link_to glyph(:play)+' В работу', play_incedent_path(@incedent), class: 'btn btn-mini' if can? :play, @incedent
          - if (@incedent.is_played? or @incedent.is_paused?) and !@incedent.is_rejected? and !@incedent.is_closed? and @incedent.has_worker?
            = link_to glyph(:stop)+' Остановить', stop_incedent_path(@incedent), class: 'btn btn-mini' if can? :stop, @incedent
        - else
          - if !@incedent.is_rejected? and !@incedent.is_closed?
            = link_to glyph(:play)+' В работу', play_incedent_path(@incedent), class: 'btn btn-mini' if can? :play, @incedent
        - if !@incedent.is_rejected? and !@incedent.is_closed?
          = link_to glyph(:remove)+' Отклонить', reject_incedent_path(@incedent), data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini' if can? :reject, @incedent
        - if (@incedent.is_rejected? or @incedent.is_closed?) and can? :replay, @incedent and @incedent.has_worker?
          = link_to glyph(:play)+' Возобновить', replay_incedent_path(@incedent), class: 'btn btn-mini' if can? :replay, @incedent
        - if !@incedent.is_closed?
          = link_to glyph(:ok)+' Закрыть', close_incedent_path(@incedent), data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini' if can? :close, @incedent
        - if (@incedent.is_closed? or @incedent.is_stoped?) and can? :solve, @incedent
          = link_to glyph(:thumbs_up)+' Решено', solve_incedent_path(@incedent), class: 'btn btn-mini btn-success' if can? :solve, @incedent
      - elsif current_user.has_role? :admin
        = link_to glyph(:play)+' Возобновить', replay_incedent_path(@incedent), class: 'btn btn-mini' if can? :replay, @incedent
      = link_to glyph(:trash)+' Удалить', @incedent, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger' if can? :destroy, @incedent
    %h3= @incedent.name
  .form-inputs
    = raw RDiscount.new(@incedent.description).to_html
    %br
    .container-fluid
      .row-fluid
        .span6
          = content_tag :strong, 'Дата создания: '
          = @incedent.created_at.strftime("%d.%m.%Y в %H:%M")
          %br
          = content_tag :strong, 'Дата изменений: '
          = @incedent.updated_at.strftime("%d.%m.%Y в %H:%M")
        .span6
          .pull-right
            = content_tag :strong, 'Автор: '
            = @incedent.initiator.realname+' ('+@incedent.initiator.email+')'
            - if @incedent.has_worker?
              %br
              = content_tag :strong, 'Исполнитель: '
              = @incedent.worker.realname+' ('+@incedent.worker.email+')'
    = render 'history' if @incedent.incedent_actions and (current_user.has_role? :admin)
  .form-actions
    = 'Статус: '+@incedent.status.name+', Приоритет: '+@incedent.priority.name+', Тип: '+@incedent.type.name
    - if @incedent.tags
      .pull-right
        - @incedent.tags.each do |tag|
          = link_to glyph(:tag)+' '+tag.name, incedents_by_tag_path(tag), class: 'btn btn-mini'

= render 'comments'
= render 'comment'