%h3
  Список команд #{(params[:server_id]? "для сервера\""+Server.find(params[:server_id]).name+"\"" : "для серверов")}
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Сервер
    %th Команда
    %th Параметры
    %th{:class => ( (@current_user.has_role? :admin) ? 'span3' : 'span1' )}
  - @server_commands.each do |server_command|
    %tr
      %td= server_command.server.name
      %td= server_command.command.name
      %td= server_command.params
      %td
        .btn-group
          = link_to 'Изменить', edit_server_command_path(server_command), :class => 'btn btn-mini' if can? :manage, server_command
          = link_to 'Удалить', server_command, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' if can? :destroy, server_command
          - if (params[:server_id])
            = link_to 'Выполнить', run_command_on_server_path(server_command.server, server_command.command), :class => 'btn btn-mini' if can? :read, server_command
          - else
            = link_to 'Выполнить', run_command_path(server_command.command), :class => 'btn btn-mini' if can? :read, server_command
= link_to 'Новая команда для сервера', (params[:server_id]? command_for_server_path(Server.find(params[:server_id])) : new_server_command_path), :class => 'btn btn-mini' if can? :manage, ServerCommand
