%p
  %b Server:
  = @server_command.server.name
%p
  %b Command:
  = @server_command.command.name
%p
  %b Params:
  = @server_command.params
.btn-group
  = link_to 'Назад', server_commands_path, :class => 'btn btn-mini'
  = link_to 'Изменить', edit_server_command_path(@server_command), :class => 'btn btn-mini'
