<p>
  <b>Server:</b>
  <%= @server_command.server.name %>
</p>

<p>
  <b>Command:</b>
  <%= @server_command.command.name %>
</p>

<p>
  <b>Params:</b>
  <%= @server_command.params %>
</p>


<div class='btn-group'>
	<%= link_to 'Назад', server_commands_path, :class => 'btn btn-mini' %>
	<%= link_to 'Изменить', edit_server_command_path(@server_command), :class => 'btn btn-mini' %>
</div>