:css
  html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
  }

  body {
    background-color: #444444;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#555555), to(#111111));
    background-image: -webkit-linear-gradient(top, #555555 0%, #111111 100%);
    background-image: -moz-linear-gradient(top, #555555 0%, #111111 100%);
    background-image: -ms-linear-gradient(top, #555555 0%, #111111 100%);
    background-image: -o-linear-gradient(top, #555555 0%, #111111 100%);
    background-image: linear-gradient(top, #555555 0%, #111111 100%);
  }
#loginbox
  = form_tag user_sessions_path, :method => :post, :class => 'form-vertical' do
    .input-prepend
      %span.add-on= glyph(:user)
      = text_field_tag :email, nil, :placeholder => 'Имя пользователя или Почта'
    .input-prepend
      %span.add-on
        = glyph(:lock)
      = password_field_tag :password, nil, :placeholder => 'Пароль'
    .form-actions
      = submit_tag "Вход", :class => 'btn btn-inverse'
