.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{'data-target' => '.nav-collapse', 'data-toggle' => 'collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{ href: "#", class: 'brand' }
        %i{ class: 'icon-th-large', onclick: "window.toggle_menu();", data: { rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Переключить вид меню' }
        &nbsp;
      %a{ href: root_path, class: 'brand', data: { rel: 'tooltip', placement: 'bottom', container: 'body', delay: '200' }, title: 'У нас проблема!' }
        = " Хьюстон"
      .nav-collapse
        %ul.nav#topmenu
          - if current_user.has_role? :admin
            %li.dropdown
              = link_to glyph(:list)+" Администрирование", "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' }
              %ul.dropdown-menu
                %li
                  = link_to glyph(:user)+' Пользователи', users_path, data: { keybinding: 'u', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: U', class: (params[:controller] == 'users' ? 'bold' : '') if current_user.has_role? :admin
                %li
                  = link_to glyph(:briefcase)+' Сервисы', services_path, data: { keybinding: 'e', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: E', class: (params[:controller] == 'services' ? 'bold' : '') if current_user.has_role? :admin
                %li
                  = link_to glyph(:list)+' Журнал аудита', audit_path, data: { keybinding: 'a', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: A', class: (params[:controller] == 'audit' ? 'bold' : '') if current_user.has_role? :admin
                %li
                  = link_to glyph(:download_alt)+' Загрузки', attaches_path, data: { keybinding: 'f', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: F', class: (params[:controller] == 'attaches' ? 'bold' : '') if current_user.has_role? :admin
                %li
                  = link_to glyph(:tags)+' Метки', tags_path, data: { keybinding: 'l', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: L', class: (params[:controller] == 'tags' ? 'bold' : '') if current_user.has_role? :admin
          - if current_user.has_role? :admin or current_user.has_role? :manager
            %li.dropdown
              = link_to glyph(:list)+" Решение проблем", "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' }
              %ul.dropdown-menu
                %li
                  = link_to glyph(:magnet)+' Категории', categories_path, data: { keybinding: 'c', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: C', class: (params[:controller] == 'categories' ? 'bold' : '') if current_user.has_role? :admin or current_user.has_role? :manager
                %li
                  = link_to glyph(:hdd)+' Оборудование', servers_path, data: { keybinding: 'd', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: D', class: (params[:controller] == 'servers' ? 'bold' : '') if current_user.has_role? :admin or current_user.has_role? :manager
                %li
                  = link_to glyph(:fire)+' Проблемы', problems_path, data: { keybinding: 'p', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: P', class: (params[:controller] == 'problems' ? 'bold' : '') if current_user.has_role? :admin or current_user.has_role? :manager
                %li
                  = link_to glyph(:tint)+' Решения', solutions_path, data: { keybinding: 's', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: S', class: (params[:controller] == 'solutions' ? 'bold' : '') if current_user.has_role? :admin
          %li.dropdown
            = link_to glyph(:list)+" Поиск решений", "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' }
            %ul.dropdown-menu
              %li
                = link_to glyph(:inbox)+' Книга жалоб', incedents_path, data: { keybinding: 'i', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: I', class: ((params[:controller] == 'incedents') and (params[:action] == 'index') ? 'bold' : '')
              %li
                = link_to glyph(:eye_open)+' Наблюдаемые', incedents_observe_path, data: { keybinding: 'o', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: O', class: ((params[:controller] == 'incedents') and (params[:action] == 'observe') ? 'bold' : '') if current_user.has_role? :admin or current_user.has_role? :manager
              %li
                = link_to glyph(:briefcase)+' Архив жалоб', incedents_archive_path, data: { keybinding: 'r', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: R', class: ((params[:controller] == 'incedents') and (params[:action] == 'archive') ? 'bold' : '')
              %li
                = link_to glyph(:book)+' Книга рецептов', documents_path, data: { keybinding: 'b', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: B', class: (params[:controller] == 'documents' ? 'bold' : '')
          %li.dropdown
            = link_to glyph(:list)+" Метки", "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' }
            %ul.dropdown-menu
              - if current_user.has_role? :admin or current_user.has_role? :manager
                %li.nav-header  Для проблем
                - Tag.all.sort_by{ | tag | tag.problems.count }.reverse.each do |tag|
                  - if tag.problems.count > 0
                    %li
                      = link_to glyph(:tag)+' '+tag.name+' ('+tag.problems.count.to_s+')', problems_by_tag_path(tag)
                %li.divider
              - if Incedent.solved(false).accessible_by(current_ability).count > 0
                %li.nav-header Для жалоб (В РАБОТЕ)
                - Tag.all.sort_by{ | tag | tag.incedents.solved(false).accessible_by(current_ability).count }.reverse.each do |tag|
                  - if tag.incedents.solved(false).accessible_by(current_ability).count > 0
                    %li
                      = link_to glyph(:tag)+' '+tag.name+' ('+tag.incedents.solved(false).accessible_by(current_ability).count.to_s+')', incedents_by_tag_path(tag)
                %li.divider
              - if Incedent.solved(true).accessible_by(current_ability).count > 0
                %li.nav-header Для жалоб (В АРХИВЕ)
                - Tag.all.sort_by{ | tag | tag.incedents.solved(true).accessible_by(current_ability).count }.reverse.each do |tag|
                  - if tag.incedents.solved(true).accessible_by(current_ability).count > 0
                    %li
                      = link_to glyph(:tag)+' '+tag.name+' ('+tag.incedents.solved(true).accessible_by(current_ability).count.to_s+')', incedents_archive_by_tag_path(tag)

      / /.nav-collapse
      %p.navbar-text
        - if current_user
          .btn-group.pull-right{style: 'margin: 4px !important; '}
            = link_to glyph(:user)+' Профиль', edit_user_path(current_user), class: 'btn btn-small'
            = link_to glyph(:off)+' Выход', :logout, class: 'btn btn-small'
            %a.btn.btn-small{ data: { toggle: 'modal' }, href: "#houston-about"}
              = glyph(:asterisk)
          %form.form-search.pull-right{action: '/search/', style: 'margin-top: 2px; margin-bottom: -5px; '}
            .input-append
              %input.span2.search-query{name: 'query', type: 'text', value: params[:query], data: { keybinding: 'f' }}/
              %button.btn{type: 'submit'}
                = glyph(:search)+' Поиск'
          - if (params[:controller] == 'incedents')
            .btn-group.pull-right{style: 'margin: 4px !important; ', data: { toggle: "buttons-radio" } }
              = link_to glyph(:align_left), '#', onclick: "window.toggle_view_mode('tree');",  class: 'btn btn-small'+((cookies[:viewmode] == 'tree') ? ' active' : '' ), data: { rel: 'tooltip', placement: 'bottom', container: 'body', delay: '200' }, title: 'Режим просмотра: ДЕРЕВО'
              = link_to glyph(:list), '#', onclick: "window.toggle_view_mode('list');",  class: 'btn btn-small'+((cookies[:viewmode] == 'list') ? ' active' : '' ), data: { rel: 'tooltip', placement: 'bottom', container: 'body', delay: '200' }, title: 'Режим просмотра: СПИСОК'
              = link_to glyph(:list_alt), '#', onclick: "window.toggle_view_mode('table');", class: 'btn btn-small'+((cookies[:viewmode] == 'table') ? ' active' : '' ), data: { rel: 'tooltip', placement: 'bottom', container: 'body', delay: '200' }, title: 'Режим просмотра: ТАБЛИЦА'
