.well.sidebar-nav
  %ul.nav.nav-list
    - if current_user.has_role? :admin or current_user.has_role? :manager
      %li.nav-header Центр решения проблем 
      %li.nav-item= link_to glyph(:user)+" Пользователи", users_path, data: { keybinding: 'u' } if current_user.has_role? :admin
      %li.nav-item= link_to glyph(:list)+" Журнал аудита", audit_path, data: { keybinding: 'a' } if current_user.has_role? :admin
      %li.nav-item= link_to glyph(:hdd)+" Оборудование", servers_path, data: { keybinding: 'd' } if current_user.has_role? :admin or current_user.has_role? :manager
      %li.nav-item= link_to glyph(:fire)+" Проблемы", problems_path, data: { keybinding: 'p' } if current_user.has_role? :admin or current_user.has_role? :manager
      %li.nav-item= link_to glyph(:tint)+" Решения", solutions_path, data: { keybinding: 's' } if current_user.has_role? :admin
      %li.nav-item= link_to glyph(:tags)+" Метки", tags_path, data: { keybinding: 'l' } if current_user.has_role? :admin
    %li.nav-header Центр поиска решений
    %li.nav-item= link_to glyph(:inbox)+" Книга жалоб", incedents_path, data: { keybinding: 'i' }
    %li.nav-item= link_to glyph(:book)+" Книга рецептов", documents_path, data: { keybinding: 'b' }

- if current_user.has_role? :admin or current_user.has_role? :manager
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Метки для проблем
      - Tag.all.sort_by{ | tag | tag.problems.count }.reverse.each do |tag|
        - if tag.problems.count > 0
          %li.nav-item= link_to glyph(:tag)+" "+tag.name+' ('+tag.problems.count.to_s+')', problems_by_tag_path(tag), class: 'tag'+(tag.problems.count >= 10 ? '9' : tag.problems.count.to_s)

.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Метки для жалоб
    - Tag.all.sort_by{ | tag | tag.incedents.count }.reverse.each do |tag|
      - if tag.incedents.count > 0
        %li.nav-item= link_to glyph(:tag)+" "+tag.name+' ('+tag.incedents.count.to_s+')', incedents_by_tag_path(tag), class: 'tag'+(tag.incedents.count >= 10 ? '9' : tag.incedents.count.to_s)