.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Центр решения проблем
    %li.nav-item= link_to glyph(:user)+" Пользователи", users_path, :data => { :keybinding => 'u' } if current_user.has_role? :admin
    %li.nav-item= link_to glyph(:list)+" Журнал аудита", audit_path, :data => { :keybinding => 'a' } if current_user.has_role? :admin
    %li.nav-item= link_to glyph(:hdd)+" Оборудование", servers_path, :data => { :keybinding => 'd' }
    %li.nav-item= link_to glyph(:fire)+" Проблемы", problems_path, :data => { :keybinding => 'p' }
    %li.nav-item= link_to glyph(:tint)+" Решения", solutions_path, :data => { :keybinding => 's' } if current_user.has_role? :admin
    %li.nav-item= link_to glyph(:leaf)+" Метки", tags_path, :data => { :keybinding => 'l' } if current_user.has_role? :admin
    %li.nav-header Центр поиска решений
    %li.nav-item= link_to glyph(:book)+" Книга рецептов", documents_path, :data => { :keybinding => 'b' }

.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Ключевые метки
    - Tag.all.each do |tag|
      %li.nav-item= link_to glyph(:leaf)+" "+tag.name, problems_by_tag_path(tag)
