.sidebar-fixed.span2#sidebar
  - if current_user.has_role? :admin
    .sidebar#navbar0
      %ul.nav.nav-list.accordion-group
        %li.nav-header.accordion-heading= link_to glyph(:list)+" Центр администрирования", "#colapse0",  data: { toggle: "collapse", parent: "#navbar0" }, class: "accordion-toggle collapsed"
        .accordion-body.collapse#colapse0
          .accordion-inner
            %li.nav-item= link_to glyph(:flag)+' Подразделения', divisions_path, data: { keybinding: 'v', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: V', class: (params[:controller] == 'divisions' ? 'bold' : '') if current_user.has_role? :admin
            %li.nav-item= link_to glyph(:user)+' Пользователи', users_path, data: { keybinding: 'u', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: U', class: (params[:controller] == 'users' ? 'bold' : '') if current_user.has_role? :admin
            %li.divider
            %li.nav-item= link_to glyph(:briefcase)+' Сервисы', services_path, data: { keybinding: 'e', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: E', class: (params[:controller] == 'services' ? 'bold' : '') if current_user.has_role? :admin
            %li.nav-item= link_to glyph(:tags)+' Метки', tags_path, data: { keybinding: 'l', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: L', class: (params[:controller] == 'tags' ? 'bold' : '') if current_user.has_role? :admin
            %li.divider
            %li.nav-item= link_to glyph(:list)+' Журнал аудита', audit_path, data: { keybinding: 'a', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: A', class: (params[:controller] == 'audit' ? 'bold' : '') if current_user.has_role? :admin
            %li.nav-item= link_to glyph(:download_alt)+' Загрузки', attaches_path, data: { keybinding: 'f', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: F', class: (params[:controller] == 'attaches' ? 'bold' : '') if current_user.has_role? :admin
    %br
  - if current_user.has_role? :admin or current_user.has_role? :manager or current_user.has_role? :executor
    .sidebar#navbar1
      %ul.nav.nav-list.accordion-group
        %li.nav-header.accordion-heading= link_to glyph(:list)+" Центр решения проблем", "#colapse1",  data: { toggle: "collapse", parent: "#navbar1" }, class: "accordion-toggle"
        .accordion-body.collapse.in#colapse1
          .accordion-inner
            %li.nav-item= link_to glyph(:magnet)+' Категории', categories_path, data: { keybinding: 'c', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: C', class: (params[:controller] == 'categories' ? 'bold' : '') if current_user.has_role? :admin or current_user.has_role? :manager
            %li.nav-item= link_to glyph(:hdd)+' Оборудование', servers_path, data: { keybinding: 'd', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: D', class: (params[:controller] == 'servers' ? 'bold' : '') if current_user.has_role? :admin or current_user.has_role? :manager or current_user.has_role? :executor
            %li.divider
            %li.nav-item= link_to glyph(:fire)+' Проблемы', problems_path, data: { keybinding: 'p', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: P', class: (params[:controller] == 'problems' ? 'bold' : '') if current_user.has_role? :admin or current_user.has_role? :manager or current_user.has_role? :executor
            %li.nav-item= link_to glyph(:tint)+' Решения', solutions_path, data: { keybinding: 's', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: S', class: (params[:controller] == 'solutions' ? 'bold' : '') if current_user.has_role? :admin
    %br
  .sidebar#navbar2
    %ul.nav.nav-list.accordion-group
      %li.nav-header.accordion-heading= link_to glyph(:list)+" Центр поиска решений", "#colapse2",  data: { toggle: "collapse", parent: "#navbar2" }, class: "accordion-toggle"
      .accordion-body.collapse.in#colapse2
        .accordion-inner
          %li.nav-item= link_to glyph(:inbox)+' Общая книга жалоб', incedents_path, data: { keybinding: 'i', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: I', class: ((params[:controller] == 'incedents') and (params[:action] == 'index') ? 'bold' : '')
          %li.nav-item= link_to glyph(:check)+' На согласовании', incedents_onreview_path, data: { keybinding: 'w', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: W', class: ((params[:controller] == 'incedents') and (params[:action] == 'onreview') ? 'bold' : '')
          %li.nav-item= link_to glyph(:eye_open)+' Наблюдаемые', incedents_observe_path, data: { keybinding: 'o', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: O', class: ((params[:controller] == 'incedents') and (params[:action] == 'observe') ? 'bold' : '') if current_user.has_role? :admin or current_user.has_role? :manager
          %li.nav-item= link_to glyph(:briefcase)+' Архив жалоб', incedents_archive_path, data: { keybinding: 'r', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: R', class: ((params[:controller] == 'incedents') and (params[:action] == 'archive') ? 'bold' : '')
          %li.divider
          %li.nav-item= link_to glyph(:book)+' Книга рецептов', documents_path, data: { keybinding: 'b', rel: 'tooltip', placement: 'right', container: 'body', delay: '200' }, title: 'Горячая клавиша: B', class: (params[:controller] == 'documents' ? 'bold' : '')
  %br
  - if current_user.has_role? :admin or current_user.has_role? :manager
    .sidebar#navbar3
      %ul.nav.nav-list.accordion-group
        %li.nav-header.accordion-heading= link_to glyph(:list)+" Метки для проблем", "#colapse3",  data: { toggle: "collapse", parent: "#navbar3" }, class: "accordion-toggle"
        .accordion-body.collapse.in#colapse3
          .accordion-inner
            - Tag.all.sort_by{ | tag | tag.problems.count }.reverse.each do |tag|
              - if tag.problems.count > 0
                %li.nav-item= link_to glyph(:tag)+' '+tag.name+' ('+tag.problems.count.to_s+')', problems_by_tag_path(tag)
    %br
  - if Incedent.solved(false).accessible_by(current_ability).count > 0
    .sidebar#navbar4
      %ul.nav.nav-list.accordion-group
        %li.nav-header.accordion-heading= link_to glyph(:list)+" Метки для жалоб (В РАБОТЕ)", "#colapse4",  data: { toggle: "collapse", parent: "#navbar4" }, class: "accordion-toggle"
        .accordion-body.collapse.in#colapse4
          .accordion-inner
            - Tag.all.sort_by{ | tag | tag.incedents.solved(false).accessible_by(current_ability).count }.reverse.each do |tag|
              - if tag.incedents.solved(false).accessible_by(current_ability).count > 0
                %li.nav-item= link_to glyph(:tag)+' '+tag.name+' ('+tag.incedents.solved(false).accessible_by(current_ability).count.to_s+')', incedents_by_tag_path(tag)
    %br
  - if Incedent.solved(true).accessible_by(current_ability).count > 0
    .sidebar#navbar5
      %ul.nav.nav-list.accordion-group
        %li.nav-header.accordion-heading= link_to glyph(:list)+" Метки для жалоб (В АРХИВЕ)",  "#colapse5",  data: { toggle: "collapse", parent: "#navbar5" }, class: "accordion-toggle"
        .accordion-body.collapse.in#colapse5
          .accordion-inner
            - Tag.all.sort_by{ | tag | tag.incedents.solved(true).accessible_by(current_ability).count }.reverse.each do |tag|
              - if tag.incedents.solved(true).accessible_by(current_ability).count > 0
                %li.nav-item= link_to glyph(:tag)+' '+tag.name+' ('+tag.incedents.solved(true).accessible_by(current_ability).count.to_s+')', incedents_archive_by_tag_path(tag)
