.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Центр управления
    %li= link_to "Пользователи", users_path
    %li= link_to "Сервера", servers_path
    %li= link_to "Комманды", commands_path
    %li= link_to "Проблемы", problems_path
    %li= link_to "Решения", solutions_path
/ /.well
