= simple_form_for @command, :html => { :class => 'form-horizontal form' } do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, :input_html => { :class => 'form-input' }
    = f.input :description, :input_html => { :class => 'form-input' }
    = f.input :command, :input_html => { :class => 'form-input' }
    = f.input :with_params, :input_html => { :class => 'form-input' }
    = f.input :confirm, :input_html => { :class => 'form-input' }
  .form-actions
    = f.submit @button_title, :class => "btn"
    = link_to 'Отмена', commands_path, :class => 'btn'
