<h3>Список команд</h3>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Имя</th>
    <th>Описание</th>
    <th>Команда</th>
    <th>Требуются параметры</th>
    <th>Требуется подтверждение</th>
    <th class="<%= ( (@current_user.has_role? :admin) ? 'span2' : 'span0' ) %>"></th>
  </tr>

<% @commands.each do |command| %>
  <tr>
    <td><%= command.name %></td>
    <td><%= command.description %></td>
    <td><%= command.command %></td>
    <td><%= command.with_params %></td>
    <td><%= command.confirm %></td>
    <td>
        <div class='btn-group'>
            <%= link_to 'Изменить', edit_command_path(command), :class => 'btn btn-mini' if can? :manage, command %>
            <%= link_to 'Удалить', command, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-mini' if can? :destroy, command %>
        </div>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Новая команда', new_command_path, :class => 'btn btn-mini' if can? :manage, Command  %>
