%h3 Список команд
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Имя
    %th Описание
    %th Команда
    %th Требуются параметры
    %th Требуется подтверждение
    %th{:class => ( (@current_user.has_role? :admin) ? 'span3' : 'span1' )}
  - @commands.each do |command|
    %tr
      %td= command.name
      %td= command.description
      %td= command.command
      %td= command.with_params
      %td= command.confirm
      %td
        .btn-group
          = link_to 'Изменить', edit_command_path(command), :class => 'btn btn-mini' if can? :manage, command
          = link_to 'Удалить', command, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-mini' if can? :destroy, command
          = link_to 'Выполнить', run_command_path(command), :class => 'btn btn-mini' if can? :read, command
= link_to 'Новая команда', new_command_path, :class => 'btn btn-mini' if can? :manage, Command
