:css
  div.controls select {
    width: 98%;
  }

= simple_form_for @command, :html => { :method => 'get', :class => 'form-horizontal form' } do |f|
  .form-header
    %h3= "Выполнить команду \""+@command.name+"\" "+(@server ? "на сервере \""+@server.name+"\"" : "")
  .form-inputs
    - if !@server
      = f.input :servers, :label => "Сервер" do
        = f.select :servers, Server.servers_for_command(@command).map { |s| [s.name+" ("+s.address+")", s.id] }, :include_blank => false

    - if @command.with_params
      = f.input :params, :label => "Параметры", :input_html => { :class => 'form-input' }

  .form-actions
    = f.submit "Выполнить команду", :class => "btn"
    = link_to 'Отмена', commands_path, :class => "btn"
