= simple_form_for @solution, html: { id: 'form', class: 'form-horizontal form' } do |f|
  .form-header
    %h3= @form_title
  .form-inputs
    = f.input :name, label: 'Имя', input_html: { class: 'form-input' }
    = f.input :description, label: 'Описание', input_html: { class: 'form-input', id: 'solution_markdown' }
  .form-actions
    .pull-right.btn-group
      = f.submit @button_title+' [Ctrl+Enter]', class: 'btn btn-success'
      = link_to 'Отмена [Esc]', (params[:problem_id]? solutions_by_problem_path(Problem.find(params[:problem_id])) : solutions_path), class: 'btn'

:javascript
  $("#solution_name").focus();