.apple_pagination
  =will_paginate @solutions, previous_label: '←', next_label: '→', remote: true
- @solutions.each do |solution|
  .form
    .form-header
      - if @current_user.has_role? :admin
        .btn-group.pull-right.right5
          = link_to glyph(:fire)+' Проблемы ('+solution.problems.count.to_s+')', problems_by_solution_path(solution), class: 'btn btn-mini' if can? :read, solution
          = link_to glyph(:pencil)+' Изменить', edit_solution_path(solution), class: 'btn btn-mini' if can? :manage, solution
          = link_to glyph(:trash)+' Удалить', solution, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-mini btn-danger' if can? :manage, solution
      %h3= solution.name
    .form-inputs
      = markdown(solution.description)
  %br
  %br
.apple_pagination
  =will_paginate @solutions, previous_label: '←', next_label: '→', remote: true

:coffeescript
  $ ->
    $(".pagination a").each ->
      $(this).attr "data-remote", true

    $(".pagination a").bind "click", ->
      $(".pagination").html "Загрузка страницы..."
      $.get @href, null, null, "script"
      false

