<p>
  <b>Name:</b>
  <%= @solution.name %>
</p>

<p>
  <b>Description:</b>
  <%= @solution.description %>
</p>

<p>
  <b>Problem:</b>
  <%= @solution.problem %>
</p>

<p>
  <b>Command:</b>
  <%= @solution.command %>
</p>

<div class='btn-group'>
  <%= link_to 'Назад', solutions_path, :class => 'btn btn-mini' if can? :read, @solution  %>
  <%= link_to 'Изменить', edit_solution_path(@solution), :class => 'btn btn-mini' if can? :manage, @solution  %>
</div>
