!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %title Хьюстон, у нас проблема!
    %meta{content: '', name: 'description'}/
    %meta{content: '', name: 'author'}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Styles
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic', media: 'all'
    = csrf_meta_tag
    / Javascripts
    = javascript_include_tag :application
    / Icons
    = favicon_link_tag '/favicon.ico?1'
    %link{href: 'favicon.ico', rel: 'shortcut icon'}/
    %link{href: 'images/apple-touch-icon.png', rel: 'apple-touch-icon'}/
    %link{href: 'images/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72'}/
    %link{href: 'images/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114'}/
  %body
    .hidden#result
    - if (current_user) and (!current_user.first_login)
      = render partial: 'common/header'
    .container-fluid
      .row-fluid
        - if (current_user) and (!current_user.first_login)
          .span2#sidemenu
            = render partial: 'common/menu'
          .span10#content
            = render partial: 'common/flashes'
            = yield
        - else
          .span12
            = render partial: 'common/flashes'
            = yield
      / /.row-fluid
    / /.fluid-container
    / Footer
    = render partial: 'common/footer'
  :coffeescript
    $("body").tooltip selector: "*[data-rel=tooltip]"

    $(document).ready ->
      topmenu = $.cookie("topmenu")
      if topmenu?
        $("#sidemenu").toggle()
        window.toggle_menu()
      else
        $("#sidemenu").toggle()

    window.toggle_menu = ->
      $("#sidemenu").toggle()
      $("#topmenu").toggle()
      if $("#content").hasClass("span12")
        $("#content").removeClass "span12"
        $("#content").addClass "span10"
        $("#content").css("width", "")
        $.removeCookie('topmenu')
      else
        $("#content").removeClass "span10"
        $("#content").addClass "span12"
        $("#content").css("width", "95%")
        $.cookie('topmenu', 'true', { expires: 30 })


    window.toggle_view_mode = (mode) ->
      $.cookie('viewmode', mode, { expires: 30 })
      $("#content").load "#{request.fullpath} #incedents", () ->
        $("#incedents_table").tablesorter({sortList:[[5,0],[0,1]]})
        $(".popup").each ->
          $(this).prependTo($('#incedents'))
        $(".pagination a").each ->
          $(this).attr "data-remote", true
        $(".pagination a").bind "click", ->
          $(".pagination").html "Загрузка страницы..."
          $.get @href, null, null, "script"
          false

    window.toggle_filter = (url) ->
      $("#content").load url+" #incedents", () ->
        $("#incedents_table").tablesorter({sortList:[[5,0],[0,1]]})
        $(".popup").each ->
          $(this).prependTo($('#incedents'))
        $(".pagination a").each ->
          $(this).attr "data-remote", true
        $(".pagination a").bind "click", ->
          $(".pagination").html "Загрузка страницы..."
          $.get @href, null, null, "script"
          false
