!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %title Хьюстон, у нас проблема!
    %meta{content: '', name: 'description'}/
    %meta{content: '', name: 'author'}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Styles
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic', media: 'all'
    = csrf_meta_tag
    / Javascripts
    = javascript_include_tag :application
    / Icons
    = favicon_link_tag '/favicon.ico?1'
    %link{href: 'favicon.ico', rel: 'shortcut icon'}/
    %link{href: 'images/apple-touch-icon.png', rel: 'apple-touch-icon'}/
    %link{href: 'images/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72'}/
    %link{href: 'images/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114'}/
  %body
    .hidden#result
    - if (current_user) and (!current_user.first_login)
      = render partial: 'common/header'
      = render partial: 'common/about'
    .container-fluid
      .row-fluid
        - if (current_user) and (!current_user.first_login)
          .span2#sidemenu
            = render partial: 'common/menu'
          .span10#content
            = render partial: 'common/flashes'
            = yield
        - else
          .span12
            = render partial: 'common/flashes'
            = yield
    = render partial: 'common/footer'
  :coffeescript
    $("body").tooltip selector: "*[data-rel=tooltip]"

    $(document).ready ->
      window.set_menu()

    window.check_content_width = (topmenu) ->
      if topmenu?
        $("#content").removeClass "span10"
        $("#content").addClass "span12"
        $("#content").css("width", "95%")
      else
        $("#content").removeClass "span12"
        $("#content").addClass "span10"
        $("#content").css("width", "")

    window.set_menu = ->
      topmenu = $.cookie("topmenu")
      if topmenu?
        $("#sidemenu").hide()
        $("#topmenu").show()
      else
        $("#topmenu").hide()
        $("#sidemenu").show()
      window.check_content_width(topmenu)

    window.toggle_menu = ->
      topmenu = $.cookie("topmenu")
      if topmenu?
        $("#topmenu").hide()
        $("#sidemenu").show()
        $.removeCookie('topmenu')
      else
        $("#sidemenu").hide()
        $("#topmenu").show()
        $.cookie('topmenu', 'true', { expires: 30 })
      window.check_content_width($.cookie("topmenu"))

    window.set_default_handlers = (mode) ->
      $('.chosen-select').chosen
        allow_single_deselect: true
        no_results_text: 'Ничего не найдено для'
        width: '100%'

      $("#incedents_table").tablesorter({sortList:[[1,1],[5,0],[0,1]]}) if mode == 'table'

      $(".popup").each ->
        $(this).prependTo($('#incedents')) if mode == 'tree'

      $(".pagination a").each ->
        $(this).attr "data-remote", true

      $(".pagination a").bind "click", ->
        $(".pagination").html "Загрузка страницы..."
        $.get @href, null, null, "script"
        false

    window.toggle_view_mode = (mode) ->
      $.cookie('viewmode', mode, { expires: 30 })
      $("#content").load "#{request.fullpath} #incedents", () ->
        mode = $.cookie("viewmode")
        window.set_default_handlers(mode)

    window.toggle_filter = (url) ->
      $("#content").load url+" #incedents", () ->
        mode = $.cookie("viewmode")
        window.set_default_handlers(mode)
