<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Хьюстон, у нас проблема!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Styles -->
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tag %>
    <!-- Icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>

  <body>
    <% if current_user %>
      <%= render :partial => 'common/header' %>
    <% end %>
    <div class="container-fluid">
      <div class="row-fluid">
      <% if current_user %>
       <div class="span2">
         <%= render :partial => 'common/menu' %>
       </div>
       <div class="span10">
          <%= render :partial => 'common/flashes' %>
          <%= yield %>
       </div>
      <% else %> 
       <div class="span12">
          <%= render :partial => 'common/flashes' %>
          <%= yield %>
       </div>
      <% end %>
     </div><!--/.row-fluid -->
    </div><!--/.fluid-container -->
    <!-- Footer -->
    <%= render :partial => 'common/footer' %>
    <!-- Javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "jquery" %>
    <%#= javascript_include_tag "bootstrap-transition" %>
    <%#= javascript_include_tag "bootstrap-alert" %>
    <%#= javascript_include_tag "bootstrap-modal" %>
    <%#= javascript_include_tag "bootstrap-dropdown" %>
    <%#= javascript_include_tag "bootstrap-scrollspy" %>
    <%#= javascript_include_tag "bootstrap-tab" %>
    <%#= javascript_include_tag "bootstrap-tooltip" %>
    <%#= javascript_include_tag "bootstrap-popover" %>
    <%#= javascript_include_tag "bootstrap-button" %>
    <%#= javascript_include_tag "bootstrap-collapse" %>
    <%#= javascript_include_tag "bootstrap-carousel" %>
    <%#= javascript_include_tag "bootstrap-typeahead" %>    

  </body>
</html>